@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { 
    --color-contrast-100: 243, 243, 243;
    --color-contrast-200: 222, 222, 222;
    --color-contrast-300: 204, 204, 204;
    --color-contrast-500: 103, 103, 103;
    --color-contrast-600: 52, 52, 52;
    --color-contrast-700: 18, 18, 18;
  }

  :root[class~="dark"] {
    --color-contrast-100: 32, 32, 32;
    --color-contrast-200: 56, 56, 56;
    --color-contrast-300: 80, 80, 80;
    --color-contrast-500: 194, 194, 194;
    --color-contrast-600: 214, 214, 214;
    --color-contrast-700: 239, 239, 239;
  }

  body {
    background: rgb(var(--color-contrast-100));
    color: rgb(var(--color-contrast-600));
  }
}
