@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { 
    --color-body: #EFEFEF;
    --color-text: #121212;
  }

  :root[class~="dark"] {
    --color-body: #121212;
    --color-text: #EFEFEF;
  }

  body {
    background: var(--color-body);
    color: var(--color-text);
  }
}
